# Example environment variables for local deployment

MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=password

USER_SERVICE_PORT=5001
CLASS_SERVICE_PORT=5002
BOOKING_SERVICE_PORT=5003
FRONTEND_PORT=3000